<div class="main-container">

    <div class="image-container">
        <img src="assets/angular_image.jpg" alt="Angular image" class="angular-image" />
        <img src="assets/miu-image.jpg" alt="MIU image" class="miu-image" />
        <img src="assets/typscript-image.jpg" alt="TS-image" class="ts-image" />
    </div>

    <div class="about-container">
        <h2 id="aboutHeader">About Us</h2>
        <p>
            This is a Library System, which creates a virtual library-like environment,
            where users can search and borrow books of their choice. This design was implemented
            using Angular framework with TypeScript language for the front end and pure TypeScript
            for the back end with REST API. As a team of three, we are honored and proud to have been able to
            develop a full web application, and meet the necessary criteria for this project at
            Maharishi International University, and receive great guidance from Professor Asaad.
        </p>
    </div>

    <div class="developers-container">
        <h2>Developers</h2>
        <ul class="developersClass">
            <li>Ved Jagadish Patel</li>
            <li>Bacha Wondimu</li>
            <li>Sree Pullapantula</li>
        </ul>
    </div>

</div>